div.content-container {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    height: 100%;

    /* display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "q1 q2"
                         "q3 q4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
}

div.q1 {

}

div.q1 {
    
}

div.q1 {
    
}

div.q1 {
    
}

div.db-panel {
    border: 1px solid gray;
    height: minmax(4rem, auto);
}